
$theme-dark: #262626;
$theme-light: #3a3a3a;
$theme-font: #d1d1d1;




label, input {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1em 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: $theme-font;
    max-width: 20em;
    margin: auto;
    padding: 5em;
}