

/* global */

$theme-dark: #262626;
$theme-light: #3a3a3a;
$theme-font: #d1d1d1;

.landing-page-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.landing-page-banner {
  text-align: center;
  color: $theme-font;
  height: 20vh;
  font-weight: 600;
  font-size: xx-large;
}

.landing-page-company-banner {
  background-color: beige;
  width: 100%;
  align-self: center;
  background-image: url('/img/midnight-black.jpg');
  background-size: cover;
}

.landing-page-featured-event {
  display: flex;
  flex-direction: column;
  width: auto;
  align-self: center;
  background-color: #3f3f3f;
  margin: auto;
  align-items: center;
}


img {
  max-width: 98vw;
}



/* mobile */

@media (max-width: 767px){



  .landing-page-event-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-page-event-banner{
    width: 100vw;
    height: auto;
    background-color: wheat;
  }

  .landing-page-event-banner-image {
    max-width: 80%;
  }


}

@media  (min-width: 768px) and (max-width: 992px) {

}
/* desktop */

@media (min-width: 993px) {

}
.landing-page-wrapper {
  min-height: 100vh;
}







